.grid {
  background-color: black;
}

.inner-container{
  box-shadow: 5px 5px 4px 2px grey;
   align-items: center;
   width : 30vw;
  border-radius: 20px;
   border: 2px solid black;
   margin-top: 30px;
}
.show-container{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.btn{
  background-color: rgb(12, 110, 238);
  width : 5vw
}
.Grid{
  border-radius: 300px;
}





